[submodule "lib/chck"]
	path = lib/chck
	url = https://github.com/Cloudef/chck.git
[submodule "example/lib/glfw"]
	path = example/lib/glfw
	url = https://github.com/glfw/glfw
[submodule "example/lib/glhck"]
	path = example/lib/glhck
	url = https://github.com/Cloudef/glhck.git
[submodule "example/lib/glfwhck"]
	path = example/lib/glfwhck
	url = https://github.com/bzar/glfwhck.git
